* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? buttons common property */
.common_btn {
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  background-color: #4E47FF;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
/*? buttons common property */

/*? header section start here */
#header_section {
  background-image: url("../Assets/Hero-bg.png");
  padding-bottom: 200px;
}

/*? nav bar Starts here */
nav {
  max-width: 1140px;
  margin: 0 auto;
  height: 151px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #4E47FF;
  font-size: 35px;
}
.nav_btn {
  width: 132px;
  font-family: "Raleway", sans-serif;
}
/*? nav bar Ends here */
/*? banner section Starts here */
#banner_section {
  max-width: 905px;
  margin: 0 auto;
  height: 237px;
  text-align: center;
  padding-top: 60px;
}
.banner_heading {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  padding-bottom: 37px;
}
.banner_btn {
  width: 174px;
}
/*? banner section Ends here */
/*? header section end here */

/*?  Main section Starts here  */
#main_section {
  max-width: 1140px;
  margin: 0 auto;
  margin-block: 116px;
}
/*? action section starts here */
#action_section {
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
}
.action_title {
  font-size: 42px;
}
.action_subtitle {
  color: #77777e;
  font-size: 24px;
  margin-block: 20px;
}
.action_btn {
  width: 229px;
}
.action_right_side img {
  border-radius: 30px;
}
/*? action section ends here */
/*? Productive user section Starts here */
#productive_user_section {
  height: 306px;
  text-align: center;
  margin-block: 116px;
  background-color: #e0defd;
  border-radius: 30px;
}
.section_title {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  padding-block: 40px;
}
.user_subscriber_details {
  max-width: 856px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 121px;
}
.subscriber_title {
  font-size: 80px;
  font-weight: 800;
  color: #4E47FF;
}
.details_box {
  font-family: "Inter", sans-serif;
}
.subscriber_subtitle {
  font-size: 20px;
  color: #77777e;
}
/*? Productive user section Ends here */


/*?  Main section Ends here  */