* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*? buttons common property */
.common_btn {
  padding: 8px 14px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  background-color: #4E47FF;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
/*? buttons common property */

/*? header section start here */
#header_section {
  background-image: url("../Assets/Hero-bg.png");
  padding-bottom: 200px;
}

/*? nav bar Starts here */
nav {
  max-width: 1140px;
  margin: 0 auto;
  height: 151px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #4E47FF;
  font-size: 35px;
}
.nav_btn {
  width: 132px;
  font-family: "Raleway", sans-serif;
}
/*? nav bar Ends here */
/*? banner section Starts here */
#banner_section {
  max-width: 905px;
  margin: 0 auto;
  height: 237px;
  text-align: center;
  padding-top: 60px;
}
.banner_heading {
  font-family: "Raleway", sans-serif;
  font-size: 65px;
  padding-bottom: 37px;
}
.banner_btn {
  width: 174px;
}
/*? banner section Ends here */
/*? header section end here */
/*?  Main section Starts here  */



/*?  Main section Ends here  */